.DS_Store
DerivedData/
.build/
build/
*.xcuserstate
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.dSYM
*.dSYM.zip
*.app
*.dmg
*.pkg
*.sparkle_signature
coverage/
TestResults/
*.profraw
*.profdata
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
